<!DOCTYPE html>
<html>

<head>
  <title>HypernovaVueTest</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= webpack_js_tag 'main', defer: true %>
</head>

<body>
  <%= yield %>
</body>

</html>
